{% extends 'main.html' %}


{% block title %}
    Exercise
{% endblock %}


<!--Exercise content-->
{% block content %}
<div class="exercises-content-container">
    <h1 class="exercises-heading">{{ session.name }}</h1>

    <div class="exercises-container">
        {% if exercises %}
            {% for exercise in exercises %}
                <div class="exercise-item">
                    <!-- Display exercise name as a link to its lines -->
                    <a class="exercise-link" href="{% url 'lines' session.slug exercise.slug %}">{{ exercise.name }}</a>
                    
                    <!-- Delete exercise form -->
                    <form class="delete-exercise-form" action="{% url 'exercises' session.slug %}" method="post" style="display:inline;">
                        {% csrf_token %}

                        <!-- We can grab hidden inputs in viewModel to identify what action to take -->
                        <input type="hidden" name="delete_exercise" value="true">

                        <!-- Pass session and exercise identifiers -->
                        <input type="hidden" name="session_slug" value="{{ session.slug }}">
                        <input type="hidden" name="exercise_slug" value="{{ exercise.slug }}">
                        
                        <!-- Delete button triggers form submission -->
                        <button type="submit" class="delete-exercise-button">X</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p class="no-exercises">No exercises found for this session.</p>
        {% endif %}
    </div>


    <!--Exercise form-->
    <h2 class="exercises-form-heading">Add New Exercise</h2>
    <form class="exercises-form" method="post">
        {% csrf_token %}
        {{ form.name }}
        {{ form.name.errors }}
        <button class="exercises-form-button" type="submit">Add</button>
    </form>

    
    <a class="back-to-sessions-link" href="{% url 'sessions' %}">Back to Sessions</a>
</div>
{% endblock %}