{% extends 'main.html' %}


{% block title %}
    Lines
{% endblock %}


<!--Lines content-->
{% block content %}
<div class="lines-content-container">
    <h1 class="lines-heading">{{ exercise.name }}</h1>

    <div class="lines-container">
        {% if lines %}
            <!--Display lines in a table-->
            <table class="lines-table">
                <thead>
                    <tr>
                        <th>Weight</th>
                        <th>Reps</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in lines %}
                        <tr>
                            <td>{{ line.weight }}</td>
                            <td>{{ line.reps }}</td>
                            <td>{{ line.date|date:"m.d.y" }}</td>
                            <td>
                                <!--Delete line form-->
                                <form class="delete-line-form" action="{% url 'lines' exercise.session.slug exercise.slug %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_line" value="true">
                                    <input type="hidden" name="line_id" value="{{ line.id }}">
                                    <input type="hidden" name="session_slug" value="{{ exercise.session.slug }}">
                                    <input type="hidden" name="exercise_slug" value="{{ exercise.slug }}">
                                    <button type="submit" class="delete-line-button">Delete</button>
                                </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-lines">No lines found for this exercise.</p>
        {% endif %}
    </div>

    <!--Lines form-->
    <h2 class="lines-form-heading">Add a New Line</h2>
    <form class="lines-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="lines-form-button" type="submit">Save Line</button>
    </form>


    <a class="back-to-exercises-link" href="{% url 'exercises' exercise.session.slug %}">Back to Exercises</a>
</div>
{% endblock %}
