{% extends 'main.html' %}

{% block title %}
    Sessions
{% endblock %}

<!--Session content-->
{% block content %}
<div class="sessions-content-container">
    {% if user.is_authenticated %}
        <h1 class="sessions-heading">Your Sessions</h1>

        <div class="sessions-container">
            {% for session in sessions %}
                <!-- Session Item Container -->
                <div class="session-item">
                    <!-- Display session name as link to exercises page -->
                    <a class="sessions-link" href="{% url 'exercises' session.slug %}">{{ session.name }}{{ session.id }}</a>
                    
                    <!-- Delete session form -->
                    <form class="delete-session-form" action="{% url 'sessions' %}" method="post">
                        {% csrf_token %}
                        <!-- Hidden fields -->
                        <input type="hidden" name="delete_session" value="true">
                        <input type="hidden" name="session_slug" value="{{ session.slug }}">
                        
                        <!-- Delete button -->
                        <button type="submit" class="delete-session-button">X</button>
                    </form>
                </div>
            {% endfor %}
        </div>

        <!--Session creation form-->
        <h2 class="sessions-form-heading">Add a new session</h2>
        <form class="sessions-form" method="post">
            {% csrf_token %}
            {{ form.name }}
            {{ form.name.errors }}
            <button class="sessions-form-button" type="submit">Add</button>
        </form>
    {% else %}
        <p>You need to be logged in to view your sessions.</p>
    {% endif %}
</div>
{% endblock %}